* {
    box-sizing: border-box;
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 240px;
}

.card__header-top {
    overflow: hidden;
    background-color: #333333;
    height: 110px;
}

.card__header-topleft {
    width: 240px;
    float: left;
    padding: 20px 0 20px 10px;
}

.card__header--menu {
    position: absolute;
    padding: 10px 0 20px 10px;
    float: right;
    display: block;
    position: relative;
}

.card__header--menu ul {
    padding-inline-start: 10px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-top: 4%;
    justify-content: space-between;
}

.card__header--menu ul li {
    margin-left: 20px;
    font-size: 90%;
    padding-bottom: 4px;
}

.card__header--menu ul li a:hover {
    transform: translateY(-3px);
    border-bottom: 1px solid #ffffff;
}

#card__signinpage {
    margin-right: 25px;
    padding: 10px 20px;
    background-color: #02a860;
    border-radius: 50px;
    font-size: 85%;
    text-transform: none;
    font-weight: bolder;
}

#card__signinpage:hover {
    border: none;
    cursor: default;
}

.card__header--menu ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.card__header-bottom {
    background-color: #262626;
    height: 40px;
}

.card__header-bottom a {
    display: block;
    color: #c0a65c;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #c0a65c;
    float: right;
    margin: 12px 25px;
    text-transform: uppercase;
    font-size: 75%;
}

.card__benefit-top {
    display: inline-block;
    width: 100%;
    height: auto;
    background-image: linear-gradient(180deg, transparent, #000), url(../hinhanh/bg-index.f3bf60f3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.card__rewarded {
    display: block;
    width: 48%;
    margin: 5% auto 0;
    padding-bottom: 20px;
}

.card__benefit-bottom {
    display: inline-block;
    position: relative;
    height: 750px;
    width: 100%;
    margin-top: -4px;
    background-position: bottom;
    background-image: linear-gradient(0deg, transparent 80%, #000), url(../hinhanh/bg-benefits.2211de64.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.card__benefit--yellowtext {
    margin-top: 2%;
    color: #c0a65c;
    text-transform: uppercase;
    text-align: center;
    font-size: 125%;
}

.card__benefit--whitetext {
    text-align: center;
    margin-top: -9px;
    color: white;
    font-size: 90%;
    margin-bottom: 2%;
}

.card__gold--detail {
    border: 1px solid #c0a65c;
    border-radius: 15px;
    width: 428px;
    height: 240px;
    margin: 20px auto 30px;
}

.card__gold--title {
    margin: 4% 0;
    display: block;
    font-size: 130%;
    color: #c0a65c;
    text-align: center;
}

.card__gold--subtitle {
    color: white;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 5%;
    font-size: 90%;
}

.card__gold--detail-layout {
    display: flex;
}

.card__gold--detail-left {
    width: 50%;
    margin-left: 10%;
}

.card__golddrink {
    display: block;
    width: 50%;
    float: right;
    margin-right: 25%;
}

.card__gold--detail-left p {
    text-align: center;
    margin-top: 45%;
    font-size: 13px;
    color: white;
}

.card__gold--detail-right {
    width: 50%;
    margin-right: 10%;
}

.card__goldcard {
    display: block;
    height: 30%;
    float: left;
    margin-left: 25%;
}

.card__gold--detail-right p {
    text-align: center;
    margin-top: 50%;
    font-size: 13px;
    color: white;
    margin-left: -10%;
}

.card__green--detail {
    border: 1px solid #02a860;
    border-radius: 15px;
    margin-top: 100px;
    width: 428px;
    height: 220px;
    margin: 2% auto;
}

.card__green--title {
    display: block;
    font-size: 130%;
    color: #02a860;
    text-align: center;
}

.card__green--detail-layout {
    display: flex;
}

.card__green--detail-left {
    width: 50%;
    margin-left: 10%;
}

.card__greendrink {
    display: block;
    height: 30%;
    float: right;
    margin-right: 50%;
}

.card__green--detail-left p {
    text-align: center;
    padding-top: 40%;
    margin-right: 15%;
    font-size: 13px;
    color: white;
}

.card__gold--detail-right {
    width: 50%;
    margin-right: 10%;
}

.card__doublegreendrink {
    display: block;
    height: 25%;
    float: left;
    margin-left: -20%;
    margin-top: 15%;
}

.card__green--detail-right p {
    padding-top: 30px;
    text-align: center;
    margin-top: 50%;
    font-size: 13px;
    color: white;
    margin-left: -20%;
}

.card__registerpage p {
    font-size: 110%;
    color: white;
    text-align: center;
    margin-top: -1%;
}

.card__registerpage a {
    color: #02a860;
    text-decoration: none;
}

.card__registerpage a:hover {
    border-bottom: 1px solid #02a860;
}

#card__apps {
    width: 100%;
    height: auto;
    margin: 10px 0 10px;
}

.card__apps--detail {
    margin: 4% 0 4%;
}

.card__apps--top {
    margin: auto;
    width: 852.5px;
    display: flex;
}

.card__apps--left {
    width: 40%;
}

.card__apps--left-image {
    width: 100%;
    height: 100%;
    display: inline-block;
    margin-top: 1.45%;
    padding-right: .43vw;
}

.card__apps--right {
    width: 60%;
    padding-left: 2.3vw;
    margin-top: .35%;
}

.card__apps--right-image {
    width: 95px;
}

.card__apps--right p {
    font-size: 13.5px;
    color: #585858;
}

.card__app-download {
    display: flex;
}

.card__appstore {
    width: 137px;
}

.card__googleplay {
    width: 150px;
    margin-left: 2%;
}


/*footer*/

footer {
    background-color: #f0f0f0;
    height: auto;
}

.card__footer--content {
    color: #706e6e;
    margin: 0 20px;
}

.card__footer--content a {
    color: #706e6e;
    text-decoration: none;
}

.card__footer-top {
    padding-top: 10px;
    font-size: 12px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.card__footer-top a:hover {
    text-decoration: underline;
}

.card__footer-top--col {
    display: block;
    width: 25%;
}

.card__footer-top--colbox {
    display: block;
    list-style-type: none;
    padding: 0;
}

.card__footer-top--colbox li {
    margin: 2% 0;
}

.card__footer-top--title a {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}

.card__footer-bot {
    margin-top: 10px;
    padding-bottom: 1%;
    font-size: 50%;
    font-size: 90%;
}

.footer-bottom {
    margin-left: 20px;
    padding-bottom: 3%;
    font-size: 50%;
}

.footer-bottom__language {
    display: flex;
    height: 22px;
}

.VN {
    height: 12px;
    display: block;
    margin-top: 25%;
}

.footer-bottom__language--left {
    color: #333333;
    font-size: 12px;
    line-height: 16px;
    margin: 3px 15px 3px 5px;
    padding-right: 15px;
    border-right: 1px solid #b3b3b3;
}

.footer-bottom__language--vn {
    font-size: 13px;
    line-height: 22px;
    padding: 0 10px;
    margin: 0;
}

.footer-bottom__language--eng {
    color: #333333;
    font-size: 13px;
    margin: 2px 0;
    line-height: 20px;
    padding-bottom: 2px;
    border-bottom: 2px solid #b3b3b3;
}

.footer-bottom__language--right {
    margin: 5px 10px;
    font-size: 10px;
}

.footer-bottom__nav {
    margin: 13px 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
}

.footer-bottom__nav a {
    display: block;
    padding: 0 10px;
    font-size: 15px;
    font-size: 85%;
    padding: 0 6px;
    border-right: 1px solid #b3b3b3;
}

.footer-bottom__links--cuoidoan {
    border: none!important;
}

.footer__copyright {
    margin: 0;
    float: left;
    font-size: 11px;
}

.footer-bottom__copyrights>img {
    width: 120px;
    float: right;
}

.arrow {
    background-color: Transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    border: solid black;
    border-width: 0 1px 1px 0;
    padding: 4px;
    margin-top: 14px;
    transform: rotate(45deg);
    transition: transform .2s;
    -webkit-transform: rotate(45deg);
    width: 4px;
    height: 4px;
}

.OwO {
    display: flex;
    justify-content: space-between;
}

hr {
    color: #80808080;
    margin-top: 10px;
    width: 98%;
}

#card__samples {
    overflow: hidden;
    width: 100%;
    display: inline-block;
    height: auto;
    padding: 0;
    margin: 0;
    background-image: url("../hinhanh/bg-star-samples.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#card__FAQs {
    width: 100%;
    height: auto;
    margin: 3vw 0 3vw;
}

.card_FAQs--center {
    text-align: center;
}

#subtitle {
    color: #c0a65c;
    font-size: .790rem;
}

#subtitle__next {
    font-weight: 550;
    font-size: 1.25rem;
    margin-bottom: 20px;
}


/* asdasdsddasdasd */

input {
    display: none;
    border: none;
    outline: none;
}

.card__container {
    width: 852.5px;
    background-color: white;
    overflow: auto;
    padding: 7px;
    margin: 20px auto;
    box-shadow: 0 0 10px #ccc;
}

.box-topp {
    cursor: pointer;
    height: auto;
    margin: 10px 10px 0 10px;
    padding: 1px 10px 0 0;
}

.box-bottomm {
    cursor: pointer;
    height: auto;
    margin: 10px 10px 0 10px;
    padding: 1px 10px 0 0;
}

.card__container h2 {
    cursor: pointer;
    margin-right: 0;
    overflow: hidden;
    width: 100%;
    font-weight: 550;
    font-size: 18px;
    /* lul width hết td luôn r */
}

h4 {
    border-top: 2px solid #d8d8d8;
    /* margin: 18px 10px 0px 10px; */
    /* padding: 9px 10px 0px 10px; */
    padding-top: 9px;
    color: #858585;
    font-weight: lighter;
    cursor: pointer;
}

.small__title--top {
    border: none;
}

.card__container p {
    color: #b1b1b1;
    margin: 7px 5px 0px 5px;
    font-weight: lighter;
    cursor: auto;
}

.t-content {
    margin: 7px 3px 0 3px;
}

.small__title {
    display: none;
    visibility: hidden;
}

.content {
    display: none;
    visibility: hidden;
}

input:checked+label>label {
    visibility: visible;
    display: inline;
}

input:checked+label>span>div {
    transform: rotate(-135deg);
}

input:checked~.card__container {
    height: 1000px;
}

.card__samples-container {
    margin: auto;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#left-arrow {
    margin: 0;
    border-color: rgb(167, 160, 160);
    padding: 15px;
    transform: rotate(135deg);
}

#right-arrow {
    margin: 0;
    border-color: #ffffff;
    padding: 15px;
    transform: rotate(-45deg);
}

#card__samples-title {
    font-size: 20px;
    padding-top: 7%;
    color: white;
    text-align: center;
}

.card__samples-main {
    margin-top: 100px;
    user-select: none;
}

.sliderwrapper {
    overflow: hidden;
}

.card__samples-slides {
    height: auto;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    transform: translateX(0px);
    transition: transform .4s ease-in-out;
}

.slideritem {
    flex: 1 0 27%;
    height: 100%;
    width: 100%;
}

.card__samples-slides>div {
    height: 100%;
    display: block;
    color: white;
    text-align: center;
    margin: 20px 2vw;
}

.card__samples-slides>img {
    height: 100%;
}

.left {
    display: block;
    margin: auto 0 auto 200px;
}

.right {
    display: block;
    margin: auto 200px auto 0;
}

.menu--open {
    display: none;
}

.menu--open li {
    width: 200px;
    margin-bottom: -10px;
}

.menu--checkbox {
    display: none
}

.menu--checkbox:checked+label>.bar1 {
    transform: rotate(45deg) translate(7px, 6px);
}

.menu--checkbox:checked+label>.bar2 {
    opacity: 0;
}

.menu--checkbox:checked+label>.bar3 {
    transform: rotate(-45deg) translate(7px, -6px);
}

.menu--checkbox:checked+label+.hidden--menu {
    width: 240px;
}

.hidden__card__header--menu ul {
    margin-left: -30px;
    top: 100%;
    display: none;
    flex-direction: column;
    list-style: none;
}

.hidden__items {
    margin: 20px 0 10px 10px;
    text-transform: uppercase;
}

.hidden__items>a {
    color: white;
    text-decoration: none;
}

.hidden__items>.card__signinpage {
    margin-left: 10px;
}

.hidden--menu {
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    display: none;
    transition: .3s;
    position: fixed;
    float: left;
    background-color: rgba(0, 0, 0, .7);
    backdrop-filter: blur(20px);
    width: 0;
    height: 100%;
}

.hidden--chu_a>#hidden--card__header--starbucksreward {
    display: none;
    width: 200px;
    margin-left: 40px;
}

.hidden--chu_a {
    margin: 26px 6px 10px 10px;
    display: flex;
}

#hidden__menu-button {
    color: rgb(167, 160, 160);
    cursor: pointer;
    display: block;
}


/* header res */

@media only screen and (max-width: 840px) {
    .slideritem {
        flex: 1 0 95%!important;
    }
}

@media only screen and (max-width: 1188px) {
    .slideritem {
        flex: 1 0 29%;
    }
    .card__samples-main {
        width: 80%;
    }
    .left {
        margin-left: 0 !important;
    }
    .right {
        margin-right: 0 !important;
    }
    .card__rewarded {
        width: 100%;
        margin-bottom: 0;
    }
    .card__apps--left-image {
        padding: auto 3vw;
    }
    .card__container {
        width: 95%;
    }
    .hidden--menu {
        display: block;
    }
    .menu--open {
        position: absolute;
        /* float: left; */
        margin: 6px 100px auto auto;
        color: rgb(167, 160, 160);
        cursor: pointer;
        display: block;
    }
    .card__header-top {
        display: block;
    }
    .chu_a {
        overflow: hidden;
        /* margin-top: -30px; */
        display: flex;
        width: 95%;
        position: absolute;
        justify-content: center;
        align-items: center;
    }
    .bar1,
    .bar2,
    .bar3 {
        width: 31px;
        height: 3px;
        background-color: rgb(196, 196, 196);
        margin: 6px 0;
        transition: 0.2s;
    }
    .card__header--menu {
        display: none;
    }
    .card__header--starbucksreward {
        display: block;
        transition: transform .2s;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes arrowUp {
    0% {
        transform: rotate(45deg)
    }
    50% {
        transform: rotate(-45deg)
    }
    100% {
        transform: rotate(-135deg)
    }
}

@keyframes arrowDown {
    0% {
        transform: rotate(-135deg)
    }
    50% {
        transform: rotate(-45deg)
    }
    100% {
        transform: rotate(45deg)
    }
}

@media only screen and (max-width: 991px) {
    #f__one,
    #f__two,
    #f__three {
        width: 50%;
    }
}

@media only screen and (max-width: 770px) {
    .card__apps--top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card__apps--left {
        width: 98%;
    }
    .card__apps--right {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 97%;
    }
    .card__app-download {
        margin: 0 auto;
    }
    #f__one,
    #f__two,
    #f__three {
        width: 100%;
    }
}

@media only screen and (max-width: 575px) {
    .footer__copyright {
        width: 100%;
    }
    .footer-bottom__copyrights img {
        margin: 0;
        float: left;
    }
}