* {
    box-sizing: border-box;
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    /* overflow: hidden; */
    min-width: 240p;
    margin: auto;
    padding: auto;
    background-color: #f7f7f7;
}

.card__header-top {
    overflow: hidden;
    background-color: #333333;
    height: 110px;
}

.card__header-topleft {
    width: 240px;
    float: left;
    padding: 20px 0 20px 10px;
}

.card__header--menu {
    position: absolute;
    padding: 10px 0 20px 10px;
    float: right;
    display: block;
    position: relative;
}

.card__header--menu ul {
    padding-inline-start: 10px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-top: 4%;
    justify-content: space-between;
}

.card__header--menu ul li {
    margin-left: 20px;
    font-size: 10px;
}

.card__header--menu ul li a:hover {
    transform: translateY(-3px);
}

#card__FAQs--font {
    text-transform: none;
}

#card__signinpage {
    transition: transform .2s;
    margin-right: 25px;
    padding: 10px 20px;
    background-color: #02a860;
    border-radius: 50px;
    font-size: 85%;
    text-transform: none;
    font-weight: bolder;
}

.card__header--menu ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.left-right {
    display: flex;
}

#card-signin__top {
    /* overflow: hidden; */
    /* grid-area: top; */
    width: 100%;
    box-shadow: 0 -1px 10px 1px #c2c2c2;
}

.card-signin__banner {
    display: block;
    margin: 0 auto;
}


/*left*/

#card-signin__left {
    width: 48%;
    /* grid-area: left; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    margin-top: 40px;
}

.card-signin__left--content {
    position: relative;
    display: inline-block;
    max-height: auto;
    width: 50%;
    color: #4b4b4b;
    font-size: 16px;
}

.card-signinbox {
    margin-bottom: 10px;
}

.card-signinbox span {
    font-size: 16px;
    display: inline-block;
    color: #888880;
    margin-bottom: 5px;
}

.card-signinbox input {
    width: 100%;
    padding: 10px 5px;
    outline: none;
    font-weight: bold;
    border: none;
    border-bottom: 2px solid #ceceec;
    font-size: 15px;
    letter-spacing: 1px;
    background: transparent;
    margin-top: 20px;
}

#card-signin--Checkbox {
    transition: transform .2s;
    margin: 0 10px;
    border: none;
    outline: none;
    color: #02a860;
}

#card-signin--Checkbox:hover {
    transform: scale(1.3);
}

.card-signin--saveinfo {
    margin-top: 40px;
}

.card-signin--change {
    display: flex;
    margin-top: 10px;
}

.card-signin--change a {
    color: #39c1c0;
    padding-bottom: 1px;
    text-decoration: none;
    border-bottom: 2px solid #39c1c0;
}

.card-signin--button {
    float: right;
}

.card-signin--button input {
    cursor: pointer;
    margin-top: 30px;
    background-color: #02a860;
    color: #fff;
    font-size: 21px;
    font-weight: bold;
    padding: 15px 40px;
    border: none;
    border-radius: 30px;
}

.card-signin--button input:hover {
    margin-top: 28px;
    box-shadow: 0 1px 10px 1px #888888;
}

h1 {
    font-size: 28px;
    overflow: hidden;
    margin: 0;
}

.card-signinbox input+label {
    user-select: none;
    opacity: .7;
    display: inline-block;
    position: relative;
    top: -30px;
    left: 5px;
    transition: transform .4s;
}

.card-signinbox input:focus+label,
.card-signinbox input:not(:placeholder-shown)+label {
    transform: translateY(-30px);
}


/*right*/

#card-signin__right {
    width: 49%;
    height: auto;
    margin: 0 auto;
    /* grid-area: right; */
    border-left: 6px solid #c0a65c;
}

.card-signin__right-content {
    padding: 0 14%;
    height: auto;
    padding-top: 10px;
}

.card-signin__right-content span {
    font-size: 70%;
    position: absolute;
}

.card-signin__right--title {
    font-size: 27px;
    color: #333333;
    font-weight: bold;
}

.card-signin__right--subtitle {
    font-size: 20px;
    color: #333333;
    font-weight: bold;
    text-transform: uppercase;
}

.card-signin__right--texts {
    position: relative;
    font-size: 15px;
    color: #4b4b4b;
}

.card-signin__right--rewards {
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
}

.card-signin--1streward .card-signin--2ndreward .card-signin--3rdreward {
    height: 110px;
}

.card-signin__right--rewards img {
    height: 45px;
    display: block;
    margin: 0 auto;
}

.card-signin__right--rewards p {
    position: relative;
    text-align: center;
    font-size: 14px;
    width: 100%;
    color: #4b4b4b;
}

.card-signuppage a {
    font-size: 22px;
    font-weight: bolder;
    text-decoration: none;
    padding: 12px 32px;
    background-color: #333333;
    border-radius: 50px;
    color: white;
    float: right;
}

.card-signuppage a:hover {
    margin-top: -2px;
    box-shadow: 0 1px 10px 1px #888888;
}


/*footer*/

footer {
    background-color: #f0f0f0;
    height: auto;
}

.card__footer--content {
    color: #706e6e;
    margin: 0 20px;
}

.card__footer--content a {
    color: #706e6e;
    text-decoration: none;
}

.card__footer-top {
    padding-top: 10px;
    font-size: 12px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.card__footer-top a:hover {
    text-decoration: underline;
}

.card__footer-top--col {
    display: block;
    width: 25%;
}

.card__footer-top--colbox {
    display: block;
    list-style-type: none;
    padding: 0;
}

.card__footer-top--colbox li {
    margin: 2% 0;
}

.card__footer-top--title a {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}

.card__footer-bot {
    margin-top: 10px;
    padding-bottom: 1%;
    font-size: 50%;
    font-size: 90%;
}

.footer-bottom {
    margin-left: 20px;
    padding-bottom: 3%;
    font-size: 50%;
}

.footer-bottom__language {
    display: flex;
    height: 22px;
}

.VN {
    height: 12px;
    display: block;
    margin-top: 25%;
}

.footer-bottom__language--left {
    color: #333333;
    font-size: 12px;
    line-height: 16px;
    margin: 3px 15px 3px 5px;
    padding-right: 15px;
    border-right: 1px solid #b3b3b3;
}

.footer-bottom__language--vn {
    font-size: 13px;
    line-height: 22px;
    padding: 0 10px;
    margin: 0;
}

.footer-bottom__language--eng {
    color: #333333;
    font-size: 13px;
    margin: 2px 0;
    line-height: 20px;
    padding-bottom: 2px;
    border-bottom: 2px solid #b3b3b3;
}

.footer-bottom__language--right {
    margin: 5px 10px;
    font-size: 10px;
}

.footer-bottom__nav {
    margin: 13px 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
}

.footer-bottom__nav a {
    display: block;
    padding: 0 10px;
    font-size: 15px;
    font-size: 85%;
    padding: 0 6px;
    border-right: 1px solid #b3b3b3;
}

.footer-bottom__links--cuoidoan {
    border: none!important;
}

.footer__copyright {
    margin: 0;
    float: left;
    font-size: 11px;
}

.footer-bottom__copyrights>img {
    width: 120px;
    float: right;
}

@media screen and (max-width: 880px) {
    .card-signin__left--content {
        width: 40vw;
    }
}

@media only screen and (max-width: 574px) {
    .footer__copyright {
        width: 100%;
    }
    .footer-bottom__copyrights img {
        margin: 0;
        float: left;
    }
    .left-right {
        flex-direction: column;
    }
    #card-signin__left {
        width: 100%;
    }
    .card-signin__left--content {
        width: 60%;
    }
    #card-signin__right {
        width: 100%;
    }
    .card-signin__right-content {
        padding: 0 5%;
    }
    #card-signin__right {
        margin: 24% 0;
        border-left: none;
        border-top: 6px solid #c0a65c;
    }
}

@media only screen and (max-width: 480px) {
    .card-signin__left--content {
        width: 90%;
    }
}

.menu--open {
    display: none;
}

.menu--open li {
    width: 200px;
    margin-bottom: -10px;
}

.menu--checkbox {
    display: none
}

.menu--checkbox:checked+label>.bar1 {
    transform: rotate(45deg) translate(7px, 6px);
}

.menu--checkbox:checked+label>.bar2 {
    opacity: 0;
}

.menu--checkbox:checked+label>.bar3 {
    transform: rotate(-45deg) translate(7px, -6px);
}

.menu--checkbox:checked+label+.hidden--menu {
    width: 240px;
}

.hidden__card__header--menu ul {
    margin-left: -30px;
    top: 100%;
    display: none;
    flex-direction: column;
    list-style: none;
}

.hidden__items {
    margin: 20px 0 10px 10px;
    text-transform: uppercase;
}

.hidden__items>a {
    color: white;
    text-decoration: none;
}

.hidden__items>.card__signinpage {
    margin-left: 10px;
}

.hidden--menu {
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    display: none;
    transition: .3s;
    position: fixed;
    float: left;
    background-color: rgba(0, 0, 0, .7);
    backdrop-filter: blur(20px);
    width: 0;
    height: 100%;
}

.hidden--chu_a>#hidden--card__header--starbucksreward {
    display: none;
    width: 200px;
    margin-left: 40px;
}

.hidden--chu_a {
    margin: 26px 6px 10px 10px;
    display: flex;
}

#hidden__menu-button {
    color: rgb(167, 160, 160);
    cursor: pointer;
    display: block;
}


/* header res */

@media only screen and (max-width: 932px) {
    .hidden--menu {
        display: block;
    }
    .menu--open {
        position: absolute;
        margin: 6px 100px auto auto;
        color: rgb(167, 160, 160);
        cursor: pointer;
        display: block;
    }
    .card__header-top {
        display: block;
    }
    .chu_a {
        overflow: hidden;
        display: flex;
        width: 95%;
        position: absolute;
        justify-content: center;
        align-items: center;
    }
    .bar1,
    .bar2,
    .bar3 {
        width: 31px;
        height: 3px;
        background-color: rgb(196, 196, 196);
        margin: 6px 0;
        transition: 0.2s;
    }
    .card__header--menu {
        display: none;
    }
    .card__header--starbucksreward {
        display: block;
        transition: transform .2s;
    }
}

@media only screen and (max-width: 991px) {
    #f__one,
    #f__two,
    #f__three {
        width: 50%;
    }
}

@media only screen and (max-width: 770px) {
    #f__one,
    #f__two,
    #f__three {
        width: 100%;
    }
}