@media (max-width: 740px) {
    .menu2 img{
        height: 50px;
    }
    .menu3{
        height: 0px;
        background-color: #1E1E1E;
        position: absolute;
        width: 100%;
        top: 75px;
        align-content: flex-start;
        overflow: hidden;
        transition: height .3s ease-in-out ;
    }
    .menu4{
        margin: 0;
        width: 100%;
        padding-inline-start: 0;
        
    }
    .menu4:first-child{
        margin-top: 30px;
    }
    .menu4:last-child{
        margin-bottom: 30px;
    }
    .menu5{
        color: white;
        display: block;
        margin-left: 0;
        padding-left: 10%;
    }
    .menu5:hover{
        background-color: green;
    }
    .menu7{
        margin: 0;
        width: 100%;
    }
    .menu31{
        margin-left: 0;
        color: white;
        display: block;
        padding-left: 10%;
    }
    .menu31:hover{
       
        background-color: green;
    }
    .menu6{
        display: none;
    }
    .menu32{
        height: fit-content;
        margin-top: 18px;
        display: flex;
    }
    .menu36{
        display: none   ;
    }
    .menu37{
        justify-content: space-between;
    }
    .menu3bars{
        display: block;
        cursor: pointer;
        height: fit-content;
        margin-top: 1px;
        margin-right: 50px;
        position: relative;
    }
    .menubars{
        color: rgb(0, 85, 0);
        font-size: 27px;
        padding: 10px;
        right: 0px;  
    }
    #menu-btn{
        position: absolute;
    }
    #crossbar-container{
        position: absolute;
        width: 44px;
        background-color: #1E1E1E;
        display: none;
    }
    .crossbars{
        margin-left: 3px;
        color: white;
        font-size: 27px;
        padding: 10px;
        right: 0px;
    }
    /* home   responsive */
   
}
@media screen and (min-width: 768px) and (max-width: 769px) {
    .menu6{
        top: 184px !important;
    }
    .menu9{
        width: auto !important;
        padding-left: 40px !important;
    }
    .menu10{
        margin-bottom: 80px;
    }
    .menu10 li{
        width: 150px !important;
        margin-right: 30px !important;
    }
    .menu16 li{
        width: 150px !important;
        margin-right: 30px !important;
    }
    .menu13 , .menu21 , .menu23 , .menu25 , .menu27 , .menu29{
        display: none;
    }
    .menu24,.menu26,.menu28,.menu30{
        margin-top: 0;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .menu5{
        white-space: nowrap;
    }
    .menu37{
        position: relative;
        justify-content: left;
        flex-wrap: wrap;
        padding-top: 46px;
    }
    .menu4{
        width: fit-content;
    }
    .menu3{
        margin-left: 10px;
    }
    .menu7{
        margin-top: 0;
    }
    .menu2{
        margin-top: -30px;
    }
    .menu32{
        margin-left: 0px;
        position: absolute;
        right: 30px;
        top: 0;
    }
    .menu6{
        top: 96px;
        width: 100%;
    }
    .menu9{
        padding: 0;
        width: 100%;
    }
    .menu10 li{
        width: 180px;
        margin-right: 10px;
    }
    .menu11{
        white-space: normal;
        padding: 0;
    }
    .menu12{
        padding-left: 10px;
    }
    .menu12 a{
        white-space: normal;
    }
    .menu16 li{
        width: 180px;
        margin-right: 10px;
    }
    .menu21{
        margin-left: 400px;
    }
    .menu23{
        margin-left: 0px;
    }
    .menu25{
        margin-left: 400px;
    }
    .menu20{
        margin-left: -40px;
        padding-bottom: 50px;
    }
    .menu22{
        margin-left: 0;
    }
    .menu26{
        margin-left: 0;
    }
    .menu27{
        margin-left: 200px;
    }
    .menu28{
        margin-left: 0;
    }
    .menu24{
        margin-left: 0;
    }
    .menu20 li{
        margin-right: 10px;
    }
    .menu18{
        margin-left: 0;
    }
    .menu19{
        padding: 0;
    }
    .menu29{
        margin-left: 200px;
    }
    .menu30{
        margin-left: 0;
    }
}