@media (max-width: 740px) {
    .menu2 img{
        height: 50px;
    }
    .menu3{
        display: none;
    }
    .menu32{
        height: fit-content;
    }
    .menu36{
        display: none   ;
    }
    .menu37{
        justify-content: space-between;
    }
    .menu3bars{
        display: block;
        cursor: pointer;
        height: fit-content;
        margin-top: 30px;
        margin-right: 10%;
    }
    .menubars{
        color: rgb(0, 85, 0);
        font-size: 25px;
    }
}