@media (max-width: 740px) {
    .menu2 img{
        height: 50px;
    }
    .menu3{
        display: none;
        background-color: black;
        position: absolute;
        top: 75px;
        height: 250px;
    }
    .menu4{
        height: 10px;
    }
    .menu5{
        color: white;
        display: block;
        width: 200px;
        margin-right: 30px;
        margin-left: 20px;
    }
    .menu7{
        margin: 0;
    }
    .menu31{
        color: white;
    }
    .menu6{
        display: none;
    }
    .menu32{
        height: fit-content;
        margin-top: 18px;
        display: flex;
        margin-right: 5%;
    }
    .menu36{
        display: none   ;
    }
    .menu37{
        justify-content: space-between;
    }
    .menu3bars{
        display: block;
        cursor: pointer;
        height: fit-content;
        margin-top: 1px;
        margin-right: 30px;
        position: relative;
    }
    .menubars{
        color: rgb(0, 85, 0);
        font-size: 27px;
        padding: 10px;
        right: 0px;
        
    }
    #menu-btn{
        position: absolute;
    }
    #crossbar-container{
        position: absolute;
        width: 44px;
        background-color: black;
        display: none;
    }
    .crossbars{
        margin-left: 3px;
        color: white;
        font-size: 27px;
        padding: 10px;
        right: 0px;
    }
    /* home   responsive */
    .home-bannercontainer
    {   background-size: 800px 200px;
        height: 200px;
    }
}