@media (max-width: 740px) {
    .menu2 img{
        height: 50px;
    }
    .menu3{
        display: none;
    }
    .menu32{
        height: fit-content;
        margin-top: 18px;
        display: flex;
        margin-right: 5%;
    }
    .menu36{
        display: none   ;
    }
    .menu37{
        justify-content: space-between;
    }
    .menu3bars{
        display: block;
        cursor: pointer;
        height: fit-content;
        margin-left: 30px;
    }
    .menubars{
        color: rgb(0, 85, 0);
        font-size: 27px;
        padding: 10px;
    }
    .home-bannercontainer
    {
        height: 200px;
    }
}