@media (max-width: 740px) {
    .menu2 img{
        height: 50px;
    }
    .menu3{
        display: none;
    }
    .menu32{
        height: fit-content;
        margin-top: 18px;
        display: flex;
        margin-right: 5%;
    }
    .menu36{
        display: none   ;
    }
    .menu37{
        justify-content: space-between;
    }
    .menu3bars{
        display: block;
        cursor: pointer;
        height: fit-content;
        background-color: red;
        margin-top: 1px;
        margin-right: 30px;
    }
    .menubars{
        color: rgb(0, 85, 0);
        font-size: 27px;
        padding: 10px;
        position: absolute;
        right: 0px;
        
    }
    #menubar-container{
        padding: auto;
    }
    #crossbar-container{
        display: none;
    }
    .crossbars{
        color: black;
        font-size: 27px;
        padding: 10px;
        position: absolute;
        right: 0px;
    }
    /* home   responsive */
    .home-bannercontainer
    {   background-size: 800px 200px;
        height: 200px;
    }
}